<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="dashboard-card">
        <div class="dashboard-card-header">
          <h5>Edit <%= resource_name.to_s.humanize %></h5>
        </div>
        <div class="row">
          <div class="col-md-5 center-block">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-edit" }) do |f| %>
              <%= devise_error_messages! %>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                  <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Username" %>
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                  <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                  <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm Password" %>
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                  <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "Current Password" %>
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-globe"></i></div>
                  <%= f.select :location, User::LOCATIONS, {}, { class: "form-control", autofocus: true } %>
                </div>
              </div>

              <div class="edit-btm-wrap">
                <%= f.submit "Update", class: "btn btn-edit-update" %>
              </div>
            <% end %>

            <% if current_user.poster? %>
              <div class="money-holder">
                <ul>
                  <li>Funds</li>
                  <li class="money-holder-number"><%= current_user.money %></li>
                </ul>
                <%= link_to "add funds", mock_payment_path %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
