<div class="sign-in-up-wrapper">
  <div class="container">
    <div class="sign-up-wrap">
      <h2>Sign up</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-user"></i></div>
            <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Username" %>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-phone"></i></div>
            <%= f.number_field :contact, is: 11, class: "form-control", placeholder: "Contact number" %>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-skype"></i></div>
            <%= f.text_field :skype, autofocus: true, class: "form-control", placeholder: "Skype" %>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
          </div>
        </div>

        <div class="form-group location-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-globe"></i></div>
            <%= f.select :location, User::LOCATIONS, {}, { class: "form-control", autofocus: true } %>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-lock"></i></div>
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-lock"></i></div>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm Password" %>
          </div>
        </div>

        <% unless @force_admin %>
          <div class="radio-inline">
              <%= f.radio_button :user_type, "poster" %>
              <%= f.label :user_type, "Hire", value: "poster"  %>
          </div>
          <div class="radio-inline">
            <%= f.radio_button :user_type, "worker" %>
            <%= f.label :user_type, "Work", value: "worker" %>
          </div>

          <div id="worker_categories" style="display:none">
            Category Ids:<br/>
            <% Category.select(:id, :title).each do |c| %>
              <%= f.check_box :category_ids, { multiple: true }, c.id, nil %>
              <label><%= c.title  %></label><br />
            <% end %>
          </div>

        <% else %>
          <%= f.hidden_field :user_type, value: "admin" %>
        <% end %>

        <div class="sign-up-btm">
          <%= f.submit "Sign up", class: "btn btn-sign-up" %>
        </div>
      <% end %>

      <div class="sign-up-exist">
        <p>Already have an account?</p>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

<% content_for :extra_javascripts do %>
  <%= javascript_include_tag "sign_up" %>
<% end %>
