<br />
<br />
<br />
<br />
<br />

<div>
  <p>STATUS: <%= @task.status %></p>
  <!-- Left side of the column -->
  <div>
    <h2><%= @task.title %></h2>
    <p class="blog-post-meta">Posted by: <%= link_to @task.user.name, "#" %></p>
    <div>
      <%= @task.description %>
    </div>
  </div>

  <!-- Right side of the column -->
  <div>
    <h1>(₱<%= @task.price %>)</h1>
    <% if current_user.worker? %>
      <button type="button" class="btn">Make an Offer</button>
    <% elsif @task.user_id == current_user.id %>
      <%= link_to "Offer(s)", task_offers_path(@task), class: "btn btn-primary" %>
    <% end %>
    <div>
      <h4>LOCATION: <%= @task.location %></h4>
      <h4>DUE DATE: <%= @task.due_date.to_datetime.strftime("%F") %></h4>
    </div>
  </div>
</div>

<hr />

<!-- COMMENT SECTION -->
<div>
  <h1>COMMENT SECTION HERE!</h1>
</div>
