<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="dashboard-card">
        <p>
          <strong>STATUS:</strong>
          <span class="task-status task-status-<%= @task.status %>">
            <%= @task.status %>
          </span>
        </p>
        <div class="row">
          <div class="col-md-8">
            <div class="dashboard-card-header">
              <h1><%= @task.title %></h1>
            </div>
            <div class="task-show-desc">
              <p><%= @task.description %></p>
            </div>
            <div class="offers-list">
              <%= render partial: "offers/index" if @task.user_id == current_user.id %>
            </div>
          </div><!-- left -->
          <div class="col-md-4 task-show-right">
            <div class="task-show-right-inner text-center">
              <% if current_user.poster? %>
                <h2 class="test-show-right-price"><%= poster_price(@task) %><span>/person</span></h2>
              <% else %>
                <% price, commission = worker_price(@task) %>
                <h2 class="test-show-right-price"><%= display_price(price) %><span>/person</span></h2>
                <h5>deduction: ₱<%= commission %></h5>
              <% end %>
              <% if @task.status == "assigned" %>
                <%= link_to "Task finished", complete_task_path(id: @task.id), method: :patch, class: "btn btn-done" %>
              <% end %>

              <% offer = Offer.offer(user_id: current_user.id, task_id: @task.id) %>
              <% if current_user.worker? && offer.try(:status).blank? %>
                <% if offer.try(:make_offer) %>
                  <%= link_to "Cancel Offer", task_offer_path(@task, offer), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-warning" %>
                <% else %>
                  <button data-remodal-target="offer_modal" type="button" class="btn">Make an Offer</button>
                <% end %>
              <% elsif @task.user_id == current_user.id %>
                <% if @task.status == "completed" && Offer.accepted_offer?(task_id: @task.id) %>
                  <div class="rating-holder">
                    <%= simple_form_for :comment, url: comments_path do |c| %>
                      <%= c.hidden_field :task_id, value: @task.id %>
                      <%= c.hidden_field :user_id, value: @offers.first.try(:id) %>
                      <%= c.hidden_field :poster_user_id, value: current_user.id %>

                      <div class="form-group">
                        <%= c.input :rating, as: :radio_buttons, collection: (1..5), class: "form-control", label: false %>
                      </div>
                      <div class="form-group">
                        <%= c.text_field :note, class: "form-control", placeholder: "Note" %>
                      </div>
                      <%= c.submit "Submit", class: "btn btn-rating-submit" %>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </div>
            <ul class="task-show-list">
              <li>
                <strong>POSTED BY:</strong>
                <%= link_to @task.user.name, "#" %>
              </li>
              <li>
                <strong>LOCATION:</strong> <%= @task.location %>
              </li>
              <li>
                <strong>DUE DATE:</strong> <%= @task.due_date.to_datetime.strftime("%F") %>
              </li>
            </ul>
          </div><!-- right -->
        <div>
      </div>
    </div>
  </div>
</div>

<hr />

<%= render partial: "/shared/task_modal", locals: { submit_action: "put", url: task_path(id: @task.id) } %>
<%= render partial: "/shared/offer_modal", locals: { id: @task.id } %>
