<div>
  <p>STATUS: <%= @task.status %></p>
  <% if @task.status == "assigned" %>
    <%= link_to "Task finished(click here if task is done)", complete_task_path(id: @task.id), method: :patch %>
  <% end %>
  <!-- Left side of the column -->
  <div>
    <h2><%= @task.title %></h2>
    <p class="blog-post-meta">Posted by: <%= link_to @task.user.name, @task.user %></p>
    <div>
      <%= @task.description %>
    </div>
  </div>

  <!-- Right side of the column -->
  <div>
    <h1>(₱<%= @task.price %>)</h1>

    <% if current_user.worker? %>
      <button type="button" class="btn" data-remodal-target="offer_modal">Make an Offer</button>
    <% elsif @task.user_id == current_user.id %>
      <button type="button" class="btn" data-remodal-target="task_modal">Edit Task</button>
      <%= link_to "Offer(s)", task_offers_path(@task), class: "btn btn-primary" %>
    <% end %>

    <div>
      <h4>LOCATION: <%= @task.location %></h4>
    </div>
      <h4>DUE DATE: <%= @task.due_date.to_datetime.strftime("%F") %></h4>
  </div>
</div>

<hr />
<!-- COMMENT SECTION -->

<div>
  <h1>COMMENT SECTION HERE!</h1>
</div>

<%= render partial: "/shared/task_modal", locals: { submit_action: "put", url: task_path(id: @task.id) } %>
<%= render partial: "/shared/offer_modal", locals: { id: @task.id } %>
