<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="dashboard-card">
        <div class="dashboard-card-header">
          <h5>User Profile</h5>
        </div>
        <div class="row">
          <div class="col-md-3">
            <figure>
              <%= image_tag "prof-image.png", alt: "" %>
            </figure>
          </div>
          <div class="col-md-9">
            <div class="user-profile-name-holder">
              <h1><%= @user.name %> </h1>
              <h4><%= @user.location %></h4>
            </div>
            <ul class="user-profile-list">
              <li><strong>Contact:</strong> <%= @user.contact %> </li>
              <li><strong>Categories:</strong> <%= @user.category_ids %> </li>
              <li><strong>Rating:</strong> <%= @user.rating %> </li>
            </ul>
            <h4 class="user-profile-comment-title">Comments</h4>
            <div class="user-profile-comment-wrap">
              <% @comments.each do |comment| %>
                <ul class="user-profile-comment">
                  <li><strong>Poster Name:</srong> <%= comment.poster.name  %></li>
                  <li><strong>Rate:</strong> <%= ("*&nbsp;&nbsp;" * comment.rating).html_safe %> </li>
                  <li><strong>Note:</strong> <%= comment.note %> </li>
                </ul>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
