<ul>
  <li>name: <%= @user.name %> </li>
  <li>contact: <%= @user.contact %> </li>
  <li>location: <%= @user.location %> </li>
  <li>categories: <%= @user.category_ids %> </li>
  <li>rating: <%= @user.rating %> </li>
</ul>
