<div class="remodal" data-remodal-id="offer_modal">
  <button data-remodal-action="close" class="remodal-close"></button>
  <h1>Make an offer!</h1>
  <p>
  Insert some awesome descriptions here.
  </p>
  <%= form_for(:offer, url: offers_path, method: :post) do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id  %>
    <%= f.hidden_field :task_id, value: id  %>
    <div class="form-group">
      <label for="recipient-name" class="control-label pull-left">Introduction:</label>
      <%= f.text_area :introduction, class: "form-control" %><br />
    </div>
  <br>
  <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
  <%= submit_tag "Submit Offer!", class: "remodal-confirm" %>
  <% end %>
</div>
