<div class="remodal modal-post-task" data-remodal-id="task_modal">
  <button data-remodal-action="close" class="remodal-close"></button>
  <h1>Post A Task!</h1>
  <p>
  Insert some awesome descriptions here.
  </p>
  <%= simple_form_for :task, url: url, method: submit_action.to_sym do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>

    <div class="form-group">
      <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
    </div>

    <div class="form-group">
      <%= f.text_area :description, class: "form-control form-control-desc", placeholder: "Description" %>
    </div>

    <div class="form-group">
      <%= f.text_field :location, class: "form-control", placeholder: "Location" %>
    </div>

    <div class="form-group category-group text-left">
      <span>Categories:</span>
      <div class="checkbox-inline">
        <% Category.select(:id, :title).each do |c| %>
          <label>
            <%= f.check_box :category_ids, { multiple: true }, c.id, nil %>
            <%= c.title  %>
          </label>
        <% end %>
      </div>
    </div>


    <div class="form-group">
      <%= f.text_field :price, class: "form-control", placeholder: "Price" %>
    </div>

    <div class="form-group">
      <%= f.text_field :worker_number, class: "form-control", placeholder: "No of worker(s)" %>
    </div>

  <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
  <%= submit_tag "Submit Task!", class: "remodal-confirm" %>
  <% end %>
</div>
