<div class="remodal" data-remodal-id="task_modal">
  <button data-remodal-action="close" class="remodal-close"></button>
  <h1>Post A Task!</h1>
  <p>
  Insert some awesome descriptions here.
  </p>
  <%= simple_form_for :task, url: url, method: submit_action.to_sym do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>

    <table>
      <tr>
        <th>Title</th>
        <td><%= f.input_field :title %></td>
      </tr>
      <tr>
        <th>Description</th>
        <td><%= f.text_area :description %></td>
      </tr>
      <tr>
        <th>Location</th>
        <td><%= f.input_field :location %></td>
      </tr>
      <tr>
        <th>Category</th>
        <td><%= f.input :category_ids, as: :check_boxes, collection: Category.select(:id, :title), label: false %></td>
      </tr>
      <tr>
        <th>Price</th>
        <td><%= f.text_field :price %></td>
      </tr>
      <tr>
        <th>Order Limit</th>
        <td><%= f.text_field :worker_number %></td>
      </tr>
      <tr>
        <td colspan="2">
        <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
        <%= submit_tag "Submit Task!", class: "remodal-confirm" %>
        </td>
      </tr>
    </table>
  <% end %>
</div>

