<% if current_user.id == params[:id] %>
  <%= link_to "finishing hiring", close_hiring_path(id: params[:id]), method: :patch, class: "btn btn-primary" %>
<% end %>

<% if @offers.count > 0  %>
  <h3>Offer(s)</h3>
<% end %>
<% @offers.each do |offer| %>
  <% user = offer.user %>
  <div class="offers-list-entry">
    <figure class="pull-left col-md-2">
      <%= image_tag "prof-image.png", alt: "" %>
    </figure>
    <div class="col-md-7">
      <ul>
        <li class="offers-list-name"><%= link_to "#{user.name} (#{user.email})", user_path(user) %></li>
        <li class="offers-list-price"><i class="fa fa-money"></i>₱<%= Income.worker_income(offer.slice(:user_id, :task_id)) %></li>
        <li class="offers-list-intro"><%= offer.introduction %></li>
      </ul>
    </div>
    <div class="col-md-3">
      <ul>
        <li>
          <% if offer.status.blank? %>
            <%= simple_form_for :offer, url: aktion_task_offers_path(offer.task_id), method: :put do |f| %>
              <%= f.hidden_field :id, value: offer.id %>
              <%= f.submit "Decline", class: "btn btn-decline" %>
              <%= f.submit "Accept", class: "btn btn-accept" %>
            <% end %>
          <% else %>
            <span class="label-<%= offer.status %>"><%= offer.status.upcase %></span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

<% end %>

<% if @task.status != "completed" %>
  <div class="end-wrap text-right">
    <%= link_to "End hiring?", close_hiring_path(id: params[:id]), method: :patch %>
  </div>
<% end %>
