<% if current_user.id == params[:id] %>
  <%= link_to "finishing hiring", close_hiring_path(id: params[:id]), method: :patch, class: "btn btn-primary" %>
<% end %>

<br>

<%= "Offer(s)" if @offers.count > 0  %>
<% @offers.each do |offer| %>
  <% user = offer.user %>
  <ul>
    <li>
      <%= image_tag "logo-2" %>
      <% if offer.status.blank? %>
        <%= simple_form_for :offer, url: aktion_task_offers_path(offer.task_id), method: :put do |f| %>
          <%= f.hidden_field :id, value: offer.id %>

          <%= f.submit "Decline", class: "btn btn-warning" %>
          <%= f.submit "Accept", class: "btn btn-primary" %>
        <% end %>
      <% else %>
        <div><%= offer.status.upcase %></div>
      <% end %>
    </li>
    <li>Name: <%= "#{user.name} (#{user.email})" %></li>
    <li>Price: <%= Income.worker_income(offer.slice(:user_id, :task_id)) %></li>
    <li>Introduction: <%= offer.introduction %></li>
  </ul>
<% end %>
