<!DOCTYPE html>
<html>
  <head>
    <title>Haalp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, message|%>
      <% type = (type.to_s == "notice" ) ? "success" : type.to_s %>
      <script type="text/javascript">
        alertify.set('notifier', 'position', 'top-left');
        alertify.log("<%= message %>", "<%= type %>");
      </script>
    <% end %>
    <%= render partial: 'shared/top_menu' %>
    <%= yield %>
  </body>
</html>
